@using Microsoft.AspNetCore.Identity;
@using WebAppStore.ViewModels
@inject UserManager<AppUser> userManager
@{
    ViewData["Title"] = "Category Page";
    bool isAdmin = User.IsInRole("Admin");
    bool isUser = User.IsInRole("User");
    string userId = userManager.GetUserId(User);
}
@model CategoryDetailsVM
<div style ="text-align:center; scroll-behavior:auto;">
    <h1 style=" margin:20px; color:black;"><i class="@Model.category.Icon icon flex-shrink-0" style="color:red; font-size:80px;"></i>  <br /> @Model.category.Name Category</h1>
</div>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" style="background-color:yellow; color:black; font-size:20px; text-align:center;">
        @TempData["SuccessMessage"]
    </div>
}

<section id="pricing" class="pricing section">
       
    <div class="container">

        <div class="row gy-3">

            @foreach (var item in Model.products)
            {
                <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="pricing-item featured">
                        <h3>@item.Name</h3>
                        @foreach (var image in Model.productsImages)
                        {
                            if (image.ProductId == item.Id)
                            {
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" title="More Details" class="details-link"><img src="@image.Path" alt="@item.Name photo" style="width:120px; height:120px;" /></a>
                                break;
                            }
                        }
                        <h4><sup>$</sup>@item.Price</h4>
                        <p>@item.Description</p>
                        @if (isUser)
                        {
                            <form action="/cart/save" method="post">
                                <div class="form-group">


                                    <input type="text" name="UserId" value="@userId" hidden />
                                    <input type="text" name="ProductId" value="@item.Id" hidden />
                                </div>

                                <div class="form-group">
                                    <input type="number" name="Qty" value="1" style="width:60px; display:inline; margin-bottom:10px;" />
                                </div>
                                <div class="form-group">
                                    <input class="btn-buy" style=" display:inline;" type="submit" name="submit" value="Add to Cart" />
                                    <i class="bi bi-cart" style="font-size:40px; margin-bottom:0px; color:black;"></i>

                                </div>
}

                            </form>
                            }
                            @if (isAdmin)
                            {
                                <div class="btn-wrap">
                                    <div class="ED">
                                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirmDelete();"><i style="font-size:30px" class="bi bi-trash"></i></a>
                                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id"><i style="font-size:30px" class="bi bi-pencil-square"></i></a>
                                    </div>
                                </div>
                            }

                    </div>
                </div>
            }
        </div>
    </div>
</section>



    <script>
        function confirmDelete() {
            return confirm("Do you really want to delete this Product?");
        }
    </script>

}

