@using Microsoft.AspNetCore.Identity;
@using WebAppStore.ViewModels
@inject UserManager<AppUser> userManager
@model CartProductsVM
@{
    string userId = userManager.GetUserId(User);
    ViewData["Title"] = "Cart Page";
   
    decimal Total = 0;
}





<style>

    body {
      
        background: -webkit-linear-gradient(left, #db1102, #8f0e04);
    }

    .ui-w-40 {
        width: 40px !important;
        height: auto;
    }

    .card {
        box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);

    }

    .card-body {
        
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
    }


    .ui-product-color {
        display: inline-block;
        overflow: hidden;
        margin: .144em;
        width: .875rem;
        height: .875rem;
        border-radius: 10rem;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
        vertical-align: middle;
    }
</style>


<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>Shopping Cart</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered m-0">
                    <thead>
                        <tr>
                            <!-- Set columns width -->
                            <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                            <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                            <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cart in Model.carts)
                        {
                            @foreach (var item in Model.products)
                            {
                                @if(item.Id == cart.ProductId)
                                {
                                <tr>
                                    <td class="p-4">
                                        <div style="width:20%; float:left; margin-right:2%;">
                                                @foreach (var img in Model.images)
                                                {
                                                    if(img.ProductId==item.Id)
                                                    {
                                                        <img src="@img.Path" style="width:100px; height:100px;" alt="">
                                                        break;
                                                    }
                                                }
                                        </div>
                                        <div style="width:78%;float:right;">
                                            <h4><a href="#" class="d-block text-dark">@item.Name</a></h4>
                                            <p>@item.Description</p>

                                        </div>
                                    </td>
                                    <td class="text-right font-weight-semibold align-middle p-4">$@item.Price</td>
                                   
                                    <td class="text-right font-weight-semibold align-middle p-4">@cart.Qty</td>
                                       
                                        @{
                                            decimal tot = cart.Qty * item.Price;
                                             Total += tot;
                                        }
                                        <td class="text-right font-weight-semibold align-middle p-4">@tot</td>
                                    <td class="text-center align-middle px-0">

                                            <a class="dropdown-item" asp-controller="Cart" asp-action="Edit" asp-route-id="@cart.Id" style="display:inline;">
                                            <button class="btn btn-outline-warning"><i style="font-size:30px" class="bi bi-pencil-square"></i></button>

                                        </a>

                                            <a class="dropdown-item" asp-controller="Cart" asp-action="Delete" asp-route-id="@cart.Id" onclick="return confirmDelete();" style="display:inline;">
                                            <button class="btn btn-outline-danger"><i style="font-size:30px" class="bi bi-trash"></i></button>

                                        </a>
                                    </td>
                                </tr>
                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
            <!-- / Shopping cart table -->

            <div class="float-right">
                
                    <div class="mt-4 " style="float:right; margin-right:80px">
                    <label class="text-muted font-weight-normal m-0" style="font-size:20px;">Total price</label>
                        <br />
                    <div class="text-large"><strong style="font-size:30px;">$@Total</strong></div>
                    </div>
                
            </div>

            <div class="float-left mt-4">
                <a href="/Product/index"><button type="button" class="btn btn-lg btn-outline-primary md-btn-flat mt-2 mr-3">Back to shopping</button></a>
                <button type="button" class="btn btn-lg btn-primary mt-2">Checkout</button>
            </div>

        </div>
    </div>
</div>
<script>function confirmDelete() { return confirm("Do you really want to delete this Product From Your Cart?"); }</script>